<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center mx-3">Student list</h1>
    <div class="container">
        <form method="get" class="mb-3" id="course-form">
            <label for="course" class="form-label">Select Course:</label>
            <select name="course" id="course" class="form-select" onchange="document.getElementById('course-form').submit()">
                <option value="">All Courses</option>
                {% for course in courses %}
                    <option value="{{ course }}" {% if selected_course == course %}selected{% endif %}>{{ course }}</option>
                {% endfor %}
            </select>
        </form>
        <ul>
            {% for st in obj %}
                <li>Name : {{ st.name }}</li>
                <li>USN : {{ st.usn }}</li>
                <li>Course : {{ st.course }}</li>
                <br>
            {% endfor %}
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
